<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Responsive Mega Menu, Built with CSS3...and chutzpah</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
	
	<!-- Extra Styles, not needed for Mega Menu or Boostrap -->
	<link href="../static/css/style.css" rel="stylesheet">
	
	<!-- Mega Menu Style, you kinda really need Bootstrap in order for this to work -->
	<link href="../static/css/mega-menu.css" rel="stylesheet">
	
	<!-- Le Google font -->
	<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	
	<!-- You can delete this later -->
	

</head>
<body>

<footer class="footer navbar-fixed-bottom ">
    <div class="container">
	&copyright 2018 <a href="http://www.cjw.gov.cn" target="_blank" title="长江水利委员会">http://www.cjw.gov.cn</a> | All Rights Reserved | Contact Us Tel 027-82829687
    </div>
</footer>
	
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>